
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   
}
.title{
    color:  rgb(22, 43, 238);
    align-items: center;
    justify-content: center;
    display: flex;
}
.log{
    color:  rgb(146, 143, 143);
    margin-left: 7rem;
    
}

.content{
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; 
}
.container {
    position: relative;
    max-width: 430px;
    max-height: 700px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* overflow:auto; */
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form {
    width: 50%;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 35px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 30px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 2px solid rgb(204, 204, 204);
    border-top: 1px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #4070f4;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: rgb(22, 43, 238);
    cursor: pointer;
    transition:  all 0.1s ease ;
    border-radius: 15px;
}

.button input:hover {
    
    background: rgba(20, 31, 80, 0.767);
    
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.recover {
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
}

.recover a {
    text-decoration: none;
    color: #07001f;
}
   


.icons i {
    color: #07001f;
    padding: 0.2rem 5rem;
    border-radius: 15px;
    margin-left: 6rem;
    margin-bottom: 1rem; 
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
}

.icons i:hover {
    color: #fff !important;
    background: #3102cc;
    transition: 1s;
}

.icons i:first-child {
    color: green;
}

.icons i:last-child {
    color: rgb(74, 74, 206);
}
